#mfPreviewBar
{
  opacity: 0;
  position: fixed !important;
}

.page
{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  padding-top: 3.9375em;

  @include min-width(640px)
  {
    padding-top: 6.125em;
  }

  @include min-width(800px)
  {
    padding-top: 9.125em;
  }
}

.footer-area
{
  flex-grow: 0;
  flex-shrink: 0;
}

.navigation,
.content-area
{
  flex-grow: 1;
  flex-shrink: 0;
}

main,
aside,
header,
footer
{
  display: block;
}
