.accordion
{
  @extend %reset-padding;

  border-bottom: 1px solid #D7E2F9;
  margin-bottom: 3em;
  margin-top: -1px;
  padding: 0;

  &:first-child
  {
    margin-top: -1.55em;

    @include min-width(640px)
    {
      margin-top: -3.3em;
    }
  }

  &:last-child
  {
    margin-bottom: -1.55em;

    @include min-width(640px)
    {
      margin-bottom: -3.3em;
    }
  }

  .content-is-primary &
  {
    border-color: #2C80BF;
  }
}

.accordion-title
{
  @extend %clearfix;
  @extend %article-padding;

  border-top: 1px solid #D7E2F9;
  color: $primary;
  cursor: pointer;
  padding-bottom: 1em;
  padding-right: 4.5em;
  padding-top: 1em;
  position: relative;
  transition: background-color 0 350ms cubic-bezier(0.645, 0.045, 0.355, 1);
  user-select: none;

  @include min-width(640px)
  {
    padding-bottom: 1.3em;
    padding-right: 25%;
    padding-top: 1.3em;
  }

  @include min-width(800px)
  {
    padding-right: 35%;
  }

  .content-is-primary &
  {
    border-color: #2C80BF;
    color: white;
  }

  > span
  {
    display: block;
    float: left;
    font-size: .8125em;
    transform: translateX(-1.846em);
    transition: transform 250ms cubic-bezier(0.19, 1, 0.22, 1);

    @include min-width(640px)
    {
      font-size: 1em;
      transform: translateX(-3.75em);
    }
  }

  &:hover span
  {
    transform: translateX(0);

    @include min-width(640px)
    {
      font-size: 1em;
    }
  }
}

.accordion-title-is-open
{
  background-color: white;
  transition-delay: 0;
  transition-duration: 300ms;

  .content-is-primary &
  {
    background-color: fade-out(#2C80BF, .5);
  }

  .content-is-white &,
  .news-layer &
  {
    background-color: #FBFDFF;
  }

  > span
  {
    @extend %avenir-medium;
    font-size: .812em;

    @include min-width(640px)
    {
      font-size: 1em;
    }
  }

  > span,
  &:hover span
  {
    transform: translateX(0);
  }

  + .accordion-content > .usercontent
  {
    opacity: 1;
    transition-delay: 100ms;
    transition-timing-function: ease-in;
  }
}

.accordion-time
{
  color: #abb4cc;
  float: right;
  font-size: .625em;
  position: absolute;
  right: .625em;
  top: 1.75em;

  @include min-width(640px)
  {
    font-size: .875em;
    right: 2em;
    top: 1.65em;
  }

  .accordion-title-is-open &
  {
    clear: both;
    display: block;
    float: none;
    position: static;
  }
}

.accordion-content
{
  @extend %article-padding;

  background-image: linear-gradient(white, fade-out(white, 1));
  display: none;
  margin: 0;
  padding-bottom: 1em;
  padding-top: 1em;

  .content-is-primary &
  {
    background-image: linear-gradient(fade-out(#2C80BF, .5), fade-out(#2C80BF, 1));
  }

  .content-is-white &,
  .news-layer &
  {
    background-image: linear-gradient(fade-out(#FBFDFF, 0), fade-out(#FBFDFF, 1));
  }

  > .usercontent
  {
    opacity: 0;
    transition: opacity 300ms ease-out;
  }
}
