.content-area
{
  padding: 1.5em 0 4.5em;

  @include min-width(640px)
  {
    padding: 2.5em 0 7.5em;
  }
}

.content-is-primary
{
  background-color: $primary;
  color: white;
}

.content-is-white
{
  background-color: white;
}
