.fields-list
{
  @extend %list-reset;

  border-top: 1px solid #D7E2F9;
}

.field-link
{
  @extend .article-header;

  display: block;
  padding-top: 1.5em;

  @include min-width(640px)
  {
    padding-top: 2.5em;
  }

  &:hover
  {
    color: #0E70B7;
  }
}

.field-title
{
  @extend .article-title;

  &:before
  {
    background-color: #DCE9FB;
    top: 1.55em;

    @include min-width(640px)
    {
      top: 1.75em;
    }

    .field-link:hover &
    {
      background-color: $primary;
    }
  }
}
