.news-widget
{
  @extend %list-reset;
  @extend %widget-padding-reset;
}

.news-widget-item
{
  border-bottom: 1px solid #E8EEFF;
  border-top: 1px solid transparent;
  margin-bottom: -1px;
  margin-top: -1px;
  position: relative;

  &:last-child
  {
    border-bottom: none;
  }

  &:hover
  {
    background-color: $body-bg;
    border-color: $body-bg;
    z-index: 1;
  }
}

.news-widget-link
{
  @extend %widget-padding;

  display: block;
  padding-bottom: 1.25em;
  padding-top: 1.25em;

  &:hover
  {
    color: $primary;
  }
}

.news-widget-date
{
  @extend %avenir-medium;

  color: #b6bfd9;
  display: block;
  font-size: .6875em;
}

.news-widget-title
{
  @extend %avenir-medium;

  font-size: .75em;
  line-height: 1.5;
  margin: 0;
}
