@keyframes preloader
{
  0%
  {
    box-shadow: -2em 0 0 fade-out(#A3BDE3, 0),
                0 -2em 0 fade-out(#A3BDE3, .25),
                2em 0 0 fade-out(#A3BDE3, .5),
                0 2em 0 fade-out(#A3BDE3, .75);
  }
  25%
  {
    box-shadow: -2em 0 0 fade-out(#A3BDE3, .75),
                0 -2em 0 fade-out(#A3BDE3, 0),
                2em 0 0 fade-out(#A3BDE3, .25),
                0 2em 0 fade-out(#A3BDE3, .5);
  }
  50%
  {
    box-shadow: -2em 0 0 fade-out(#A3BDE3, .5),
                0 -2em 0 fade-out(#A3BDE3, .75),
                2em 0 0 fade-out(#A3BDE3, 0),
                0 2em 0 fade-out(#A3BDE3, .25);
  }
  75%
  {
    box-shadow: -2em 0 0 fade-out(#A3BDE3, .25),
                0 -2em 0 fade-out(#A3BDE3, .5),
                2em 0 0 fade-out(#A3BDE3, .75),
                0 2em 0 fade-out(#A3BDE3, 0);
  }
  100%
  {
    box-shadow: -2em 0 0 fade-out(#A3BDE3, 0),
                0 -2em 0 fade-out(#A3BDE3, .25),
                2em 0 0 fade-out(#A3BDE3, .5),
                0 2em 0 fade-out(#A3BDE3, .75);
  }
}

.animsition-loading
{
  background-image: none;
  left: 50%;
  margin-left: -.75em;
}

.animsition-loading:after
{
  animation: preloader;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  background-color: #0068B4;
  background-image: none;
  border-radius: 2px;
  box-shadow: -2em 0 0 #A3BDE3,
              2em 0 0 #A3BDE3,
              0 -2em 0 #A3BDE3,
              0 2em 0 #A3BDE3;
  content: '';
  display: block;
  height: 1.5em;
  margin: auto;
  width: 1.5em;
}
