.news .article-body
{
  padding-top: 0;
}

.news .accordion
{
  margin-bottom: 0 !important;
  margin-top: -1px !important;
}


// News Layer

.news-layer
{
  background-color: white;
  bottom: 0;
  opacity: 0;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 1.5em 0 4.5em;
  position: fixed;
  transition: opacity 800ms 300ms cubic-bezier(0.165, 0.84, 0.44, 1),
              top 0 1100ms linear;
  top: 100%;
  width: 100%;
  z-index: 3;

  @include min-width(640px)
  {
    padding: 2.5em 0 7.5em;
  }

  .news-layer-is-active &
  {
    opacity: 1;
    top: 3.9375em;
    transition: opacity 500ms 0 cubic-bezier(0.165, 0.84, 0.44, 1);

    @include min-width(640px)
    {
      top: 6.125em;
    }

    @include min-width(800px)
    {
      top: 9.125em;
    }
  }
}

.news-layer > .container
{
  opacity: 0;
  transition: opacity 500ms cubic-bezier(0.165, 0.84, 0.44, 1);

  .news-layer-is-active &
  {
    opacity: 1;
    transition-delay: 300ms;
  }
}

.news-layer .article-title:before
{
  background-color: transparent;
}

.news-layer-is-active
{
  overflow: hidden;
}

.close-news
{
  background-color: transparent;
  background-image: url('../images/news-close-small@2x.png');
  background-image: -webkit-image-set(url('../images/news-close-small.png') 1x,
                              url('../images/news-close-small@2x.png') 2x);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  height: 1em;
  width: 1em;
  border: none;
  outline: 0;
  position: absolute;
  top: 1px;
  transition: transform 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  left: -2px;

  .is-ie8 &
  {
    background-image: url('../images/news-close-small.png');
  }

  @include min-width(640px)
  {
    background-color: transparent;
    background-image: url('../images/news-close-large@2x.png');
    background-image: -webkit-image-set(url('../images/news-close-large.png') 1x,
                                url('../images/news-close-large@2x.png') 2x);
    background-size: 32px 32px;
    height: 40px;
    left: 0;
    width: 40px;
    top: -3px;

    .is-ie8 &
    {
      background-image: url('../images/news-close-large.png');
    }
  }

  &:hover
  {
    transform: rotateZ(90deg);
  }

  span
  {
    display: block;
    overflow: hidden;
    text-indent: -9999px;
  }
}
